{{#if stories.msg}}
<div class="alert alert-danger mb-5" role="alert">
  <p>'{{key}}' not found.</p>
</div>
{{else}}
<h4 class="mb-2">Search for '{{key}}'</h4>
<ul class="list-group mb-5">
  {{#each stories}}
  <li class="list-group-item"><a href="{{this.url}}" target="_blank" rel="noopener">{{ this.title }}</a> | Score: {{ this.score }}</li>
  {{/each}}
</ul>

{{/if}}